.dialogs {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.usersDialog {
  padding: 10px;
  color: white;
}

.dialog {
}

.active {
  color: gold;
}

.chats {
  padding: 10px;
  color: white;
}

.item {
  padding: 10px;
}
